{% extends "videosearch/base.html" %}

{% block page_level_styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'metronic/css/select2_metro.css' %}">
    <link rel="stylesheet" href="{% static 'metronic/css/DT_bootstrap.css' %}">
{% endblock %}

{% block page_content %}
    <div class="tiles">

        <a href="/videosearch/tasklist">
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="icon-list-alt"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        任务队列
                    </div>
                    <div class="number">
                    </div>
                </div>
            </div>
        </a>

        <a href="/videosearch/generalconfig">
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="icon-lock"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        全局配置
                    </div>
                    <div class="number">
                    </div>
                </div>
            </div>
        </a>

        <a href="/videosearch/platformconfig">
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="icon-lock"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        平台配置
                    </div>
                    <div class="number">
                    </div>
                </div>
            </div>
        </a>

        <a href="http://www.hao123.com" target="_blank">
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="icon-calendar"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        日志监控
                    </div>
                    <div class="number">
                    </div>
                </div>
            </div>
        </a>

        <a href="http://www.hao123.com" target="_blank">
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="icon-bar-chart"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        统计报表
                    </div>
                    <div class="number">
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascript_load %}
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    {% load staticfiles %}
    <script src="{% static 'metronic/js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'metronic/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{% static 'metronic/js/jquery-ui-1.10.1.custom.min.js' %}"></script>
    <script src="{% static 'metronic/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'metronic/js/excanvas.min.js' %}"></script>
        <script src="{% static 'metronic/js/respond.min.js' %}"></script>
	    <![endif]-->
    <script src="{% static 'metronic/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'metronic/js/jquery.blockui.min.js' %}"></script>
    <script src="{% static 'metronic/js/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'metronic/js/jquery.uniform.min.js' %}"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'metronic/js/app.js' %}"></script>
    <script src="{% static 'metronic/js/index.js' %}"></script>


    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'metronic/js/select2.min.js' %}"></script>
    <script src="{% static 'metronic/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'metronic/js/DT_bootstrap.js' %}"></script>
    {#    <script src="{% static 'metronic/js/form-validation.js' %}"></script>#}
    {#    <script src="{% static 'metronic/js/table-advanced.js' %}"></script>#}
    {#    <script src="{% static 'metronic/js/table-managed.js' %}"></script>#}

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'metronic/js/app.js' %}"></script>
    <script src="{% static 'metronic/js/table-managed.js' %}"></script>

    <script>
        jQuery(document).ready(function () {
            App.init();
            TableManaged.init();
        });
    </script>
    <script type="text/javascript">  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37564768-1']);
    _gaq.push(['_setDomainName', 'keenthemes.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();</script>

    <!-- END JAVASCRIPTS -->
{% endblock %}