<!--file:///Users/cbb/Downloads/metronic-1.bootstrap/extra_search.html#-->

{% extends "videosearch/base.html" %}
{% block title %}视频搜索引擎{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="/videosearch/tasklist">首页</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>关键词</li>
{% endblock %}

<!--<h3>{% block headTitle %}任务详情：{% endblock %}</h3>-->

{% block page_content %}



    <div>&nbsp;</div>
    <h3>关键词</h3>
    <!--BEGIN TABS-->

    <!--<div class="tabbable tabbable-custom tabs-left">-->
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_{{ tabPlatforms_active.id }}" data-toggle="tab">{{ tabPlatforms_active.platform }}</a>
            </li>

            {% for config in tabPlatforms_others %}
            <li>
                <a href="#tab_1_{{ config.id }}" data-toggle="tab">{{ config.platform }}</a>
            </li>
            {% endfor %}

            <!--<li class="active"><a href="#tab_1_1" data-toggle="tab">System</a></li>-->
            <!--<li><a href="#tab_1_2" data-toggle="tab">Activities</a></li>-->
            <!--<li><a href="#tab_1_3" data-toggle="tab">Recent Users</a></li>-->
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="tab_1_{{ tabPlatforms_active.id }}">
                <div class="scroller" data-height="290px" data-always-visible="0" data-rail-visible="1">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-success">
                                            <i class="icon-bell"></i>
                                        </div>
                                    </div>

                                    <div class="cont-col2">
                                        <div class="desc">
                                            {{ tabPlatforms_active.platform }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            {% for config in tabPlatforms_others %}
            <div class="tab-pane" id="tab_1_{{ config.id }}">
                <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-success">
                                            <i class="icon-bell"></i>
                                        </div>
                                    </div>

                                    <div class="cont-col2">
                                        <div class="desc">
                                            {{ config.platform }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}




        </div>

    </div>

    <!--END TABS-->



{% endblock %}