{% extends "videosearch/base.html" %}



{% block page_content %}
<div class="tiles">
<form action="" method="post">
    {% csrf_token %}
    {% for form in generalConfigFormSet %}
        <p>{{ form }}</p>
    {% endfor %}

    <p>
        <input type='submit' value="提交">
    </p>
</form>

<form action="" method="post">
    {% csrf_token %}
    {% for form in platformConfigFormSet %}
        {{ form }}
    {% endfor %}
    <p>
        <input type='submit' value="提交">
    </p>
</form>
</div>
{% endblock %}