{% extends "videosearch/base.html" %}
{% block title %}视频搜索引擎{% endblock %}

<h3>{% block headTitle %}视频搜索平台配置：{% endblock %}</h3>
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {% for form in generalConfigFormSet %}
        <p>{{ form }}</p>
    {% endfor %}

    <p>
        <input type='submit' value="提交">
    </p>
</form>

<form action="" method="post">
    {% csrf_token %}
    {% for form in platformConfigFormSet %}
        <p>{{ form }}</p>
    {% endfor %}
    <p>
        <input type='submit' value="提交">
    </p>
</form>
{% endblock %}