{% extends "videosearch/base.html" %}

{% block dashboard %}
    <li class="start ">
        <a href="/videosearch">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>
{% endblock %}

{% block page_title %}
    <h3 class="page-title">
        导航
        <small>应用汇总</small>
    </h3>
{% endblock %}

{% block content %}
    <h2>Publishers</h2>
    <ul>
        {% for publisher in object_list %}
            <li>{{ publisher.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}

