{% extends "videosearch/base.html" %}


{% block dashboard %}
    <li class="start ">
        <a href="/videosearch">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>
{% endblock %}

{% block page_title %}
    <h3 class="page-title">
        任务列表
        <small>汇总</small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="/index">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="/videosearch/tasklist">任务列表</a></li>
{% endblock %}

{% block page_content %}


<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box light-grey">

	<!--<div class="portlet-title">-->

		<!--<div class="caption"><i class="icon-globe"></i>Managed Table</div>-->

		<!--<div class="tools">-->

			<!--<a href="javascript:;" class="collapse"></a>-->

			<!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->

			<!--<a href="javascript:;" class="reload"></a>-->

			<!--<a href="javascript:;" class="remove"></a>-->

		<!--</div>-->

	<!--</div>-->

	<div class="portlet-body">

		<div class="clearfix">
			<a href="/videosearch/generalconfig">
				<div class="btn-group">

					<button id="sample_editable_1_new" class="btn green">

					Add New <i class="icon-plus"></i>

					</button>

				</div>
			</a>

			<div class="btn-group pull-right">

				<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="icon-angle-down"></i>

				</button>

				<ul class="dropdown-menu pull-right">

					<li><a href="#">Print</a></li>

					<li><a href="#">Save as PDF</a></li>

					<li><a href="#">Export to Excel</a></li>

				</ul>

			</div>

		</div>

		<table class="table table-striped table-bordered table-hover" id="sample_1">

			<thead>

				<tr>

					<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>

					<th>名称</th>

					<th class="hidden-480">状态</th>

					<th class="hidden-480">进度</th>

					<th class="hidden-480">抓取平台</th>
					<th class="hidden-480">创建时间</th>
					<th class="hidden-480">操作</th>

					<th ></th>

				</tr>

			</thead>

			<tbody>

				{% for task in object_list %}
					<tr class="odd gradeX">

					<td><input type="checkbox" class="checkboxes" value="1" /></td>

					<td><a href="{{ task.id }}">{{ task.name }}</a></td>

					<td class="hidden-480">{{ task.status }}</td>

					<td class="hidden-480">{{ task.progress }}</td>

					<td class="center hidden-480">{{ task.video_platforms}}</td>

						<td class="center hidden-480">{{ task.create_at}}</td>

					<td ><span class="label label-success"><a href="{{ task.id }}">{{ task.actions }}</a></span></td>

					</tr>

				{% endfor %}

			</tbody>

		</table>

	</div>

</div>

<!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}

