{% extends "videosearch/base.html" %}

{% block dashboard %}
    <li class="start ">
        <a href="/videosearch">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>
{% endblock %}

{% block page_title %}
    <h3 class="page-title">
        任务列表
        <small>汇总</small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="/index">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="/videosearch/tasklist">任务列表</a></li>
{% endblock %}

{% block page_content %}
    <ul>
        {% for publisher in object_list %}
            <li>{{ publisher.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}

