{% extends "videosearch/base.html" %}


{% block dashboard %}
    <li class="start ">
        <a href="/videosearch">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>
{% endblock %}

{% block page_title %}
    <h3 class="page-title">
        任务列表
        <small>汇总</small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="/index">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="/videosearch/tasklist">任务列表</a></li>
{% endblock %}

{% block page_content %}


<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box light-grey">

	<!--<div class="portlet-title">-->

		<!--<div class="caption"><i class="icon-globe"></i>Managed Table</div>-->

		<!--<div class="tools">-->

			<!--<a href="javascript:;" class="collapse"></a>-->

			<!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->

			<!--<a href="javascript:;" class="reload"></a>-->

			<!--<a href="javascript:;" class="remove"></a>-->

		<!--</div>-->

	<!--</div>-->

	<div class="portlet-body">

		<div class="clearfix">
			<a href="/videosearch/addjob">
				<div class="btn-group">

					<button id="sample_editable_1_new" class="btn green">

					Add New Spider <i class="icon-plus"></i>

					</button>

				</div>
			</a>

			<div class="btn-group pull-right">

				<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="icon-angle-down"></i>

				</button>

				<ul class="dropdown-menu pull-right">

					<li><a href="#">Print</a></li>

					<li><a href="#">Save as PDF</a></li>

					<li><a href="#">Export to Excel</a></li>

				</ul>

			</div>

		</div>

		<table class="table table-striped table-bordered table-hover" id="sample_1">

			<thead>

				<tr>
					<!--<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>-->
					<!--<th>Project</th>-->
					<th>TaskId</th>
					<th class="hidden-480">Spider</th>
					<th class="hidden-480">Job</th>
					<th class="hidden-480">start_time</th>
					<th class="hidden-480">end_time</th>
					<th class="hidden-480">status</th>
					<th class="hidden-480">node_name</th>
					<th class="hidden-480">Log</th>
					<th class="hidden-480">operation</th>

					<th ></th>

				</tr>

			</thead>

			<tbody>



				{% for task in object_list %}
					<tr class="odd gradeX">

					<!--<td><input type="checkbox" class="checkboxes" value="1" /></td>-->

					<!--<td>{{ task.project }}</td>-->
					<td>{{ task.scrapy_task_id }}</td>
					<td class="center hidden-480">{{ task.spider }}</td>
					<td class="center hidden-480"><a href="{{ task.item }}">{{ task.jobid }}</a></td>
					<td class="center hidden-480">{{ task.start_time | date:"Y-m-d H:i:s" }}</td>

					<td class="center hidden-480">{{ task.end_time | date:"Y-m-d H:i:s" }}</td>
					<td class="center hidden-480">{{ task.status}}</td>
					<td class="center hidden-480">{{ task.node_name}}</td>
					<td class="center hidden-480"><a href="{{ task.log }}">Log</a></td>
					<td class="center hidden-480"><a href="/videosearch/canceljob/{{ task.jobid }}">停止</a></td>


					</tr>

				{% endfor %}


			</tbody>

		</table>

	</div>

</div>

<!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}

